body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.terminal {
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.terminal::-webkit-scrollbar {
    display: none;
}

.input-box {
    display: flex;
}

.input {
    width: 100%;
    border: none;
    background: #1e1e1e;
    color: #ffffff;
    outline: none;
}
